fastapi
uvicorn
pydantic
python-dotenv

pandas
numpy
scikit-learn
joblib

langchain
langgraph
langchain-community
langchain-openai
langchain-chroma
langchain-google-genai
langchain-huggingface
sentence-transformers
chromadb
pypdf
tiktoken

pytest
ruff
black